body {
    background-color: var(--color);
    padding: 40px;
}

:root {
    --color: #121212;
    --inv-size: 48px;
}

canvas {
    cursor: crosshair;
}

#container {
    width: max-content;
    margin: auto;
}
#container *::selection {
    background-color: #0000;
}

#inventory {
    width: max-content;
    margin: auto;
    margin-top: 20px;
    cursor: crosshair;
}

.active-tile,
.store-tile-active:hover {
    position: relative;
    z-index: 2;
    border-color: #8a8a8a !important;
}

.inventory-tile, 
.store-tile {
    float: left;
    width: var(--inv-size);
    height: var(--inv-size);
    
    padding: 8px;
    border: solid #333333 7px;
}
.inventory-tile:nth-child(odd), 
.store-tile:nth-child(odd) {
    border: solid #252525 7px;
}

.inventory-tile img,
.store-tile img {
    width: var(--inv-size);
}


#inventory-store {
    position: fixed;
    width: max-content;
    height: max-content;

    background-color: #090909;
    cursor: crosshair;
    display: none;

    top: 150px;
    left: 0px;
    right: 0px;
    margin: auto;
}