body {
    background-color: var(--color);
    padding: 40px;
}

:root {
    --color: #121212;
    --inv-size: 48px;
}

canvas {
    cursor: crosshair;
}

#container {
    width: max-content;
    margin: auto;
}
#container *::selection {
    background-color: #0000;
}

#inventory {
    width: max-content;
    margin: auto;
    margin-top: 20px;
    cursor: crosshair;
}

.active-tile,
.store-tile-active:hover {
    position: relative;
    z-index: 2;
    border-color: #8a8a8a !important;
}

.inventory-tile, 
.store-tile {
    float: left;
    width: var(--inv-size);
    height: var(--inv-size);
    
    padding: 8px;
    border: solid #333333 7px;
}
.inventory-tile:nth-child(odd), 
.store-tile:nth-child(odd) {
    border: solid #252525 7px;
}

.inventory-tile img,
.store-tile img {
    width: var(--inv-size);
}


#inventory-store, #export-div, #import-div {
    position: fixed;
    width: max-content;
    height: max-content;
    box-shadow: 10px 10px 1px #4e4e3a;

    background-color: black;
    cursor: crosshair;
    display: none;

    top: 150px;
    left: 0px;
    right: 0px;
    margin: auto;
}
#export-div, #import-div {
    text-align: center;
    width: 468px;
    height: 312px;
}

input {
    width: 300px;
    background-color: #323232;
    box-shadow: 3px 3px 1px #4e4e3a;

    color: white;
    font: normal 25px 'Verdana';
    margin: 10px;
    padding: 6px;
    text-align: center;

    margin-top: -10px;
    margin-bottom: 20px;

    outline: none;
    border: none;
}

input:focus {
    outline: none;
    border: none;
}

#export-div div, #import-div div {
    margin-top: 20px;
    color: #808060;
    font: bold 30px 'Verdana';
}
#import-div input {
    margin-bottom : 0px;
}

input::selection {
    background-color: #98987e !important;
}

#title {
    margin-top: 40px;
    position: fixed;
    left: 0px;
    width: 100%;
    text-align: center;

    color: white;
    font: bold 40px 'Verdana';
}

button {
    background-color: #1b1b1b;
    box-shadow: 4px 4px 1px #76765a;
    border: none;
    outline: none;

    color: #78785c;
    font: bold 24px 'Verdana';
    padding: 6px;
    width: 120px;
    margin-top: 28px;
    cursor: crosshair;
}
button:hover {
    box-shadow: 4px 4px 1px #b1b18e;
    color: #9e9e7f;
}